.active a {
    opacity: 1.0;
}


/* Makes nav bar fit entire screen when inside container. */
.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.carousel {
    width: 60vmax;
    margin: 0 auto;
}

.carousel-caption {
    padding-bottom: 0;
}

.carousel-indicators {
    bottom: 5px;
    margin-bottom: 0;
}

.carousel-indicators li, .carousel-indicators .active {
    width: 15px;
    height: 15px;
}

/* Makes images in carousel fit one size */
.carousel-inner {
    height: 100%;
}

.carousel-inner .item {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}

.glyphicon {
    color: white;
    font-size: 3vmax;
    opacity: .5;
}

.item {
    width: 100%;
    min-height: 100%;
    max-height: none;
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
    background-color: transparent;
    border-color: transparent;

}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav .active a {
    opacity: .8;
}

.navbar-inverse .navbar-nav li a {
    color: white;
}

.navbar-inverse .navbar-nav li a:hover {
    color: white;
    background-color: black;
    opacity: .8;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}