#about, #resume, #contact, #portfolio {
    background-color: black;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 10vh;
    margin: 0 auto;
}

.blurb {
    color: darkgrey;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 60vw;
    max-width: 100%;
    max-height: 50vh;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: auto;
} 

footer {
    background-color: #1a1a1a;
}

html {
    margin: 0;
    height: 100%;
    text-align: center
}

h1 {
    padding-top: 25vh;
    margin: 0;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 7.5vw;
    /* Makes a black border aroudn the letters */
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

h2 {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

h3 {
   font-family: 'Open Sans', sans-serif;
    margin-top: 0;
    font-size: 3vw;
    text-align: center;
    margin-bottom: 0;
    opacity: 1;
}

hr {
    margin-top: 10vh;
    margin-bottom: 0;
    width: 75%;
    background-color: white;
    color: white;
    border-color: white;
}

#introline {
    color: white;
    padding-top: 2vmax;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 3vw;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.list-items {
    opacity: 0.8;
}

.photoDescription {
    color: white;
    text-align: center;
    font-size: 2.5vw;
    margin-bottom: 1vh;
    opacity: 0.8;
}

.portfolio-pictures, .portfolio-videos  {
    width: inherit;
    height: inherit;
    max-width: 100%;
    max-height: 100%;
}

.resume-category {
    margin-bottom: 2.5vh;
}

span {
    color: white;
}

.sub-category {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 2.5vw;
}

#welcome {
    background: white url("../images/stump_self.jpg") center center no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    position: relative;
}