#about {
    background-color: white;
    overflow: scroll;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: auto;
}

html {
    margin: 0;
    height: 100%;
    text-align: center
}

h1 {
    margin: 0;
    padding-top: 25vh;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 7.5vw;

}

p {
    color: black;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

#welcome {
    background: white url("../images/stump_self.jpg") center center no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    position: relative;
}