html {
    margin: 0;
    height: 100%;
}

body {
    background: url("../images/stump_self.jpg") no-repeat center center;
    height: 100%;
    width: 100%;
    background-size: cover;
    position: relative;
    margin: 0;
    overflow: auto;
}

#textbox {
    background-color: white;
    opacity: 0.6;
    margin-top: 10vh;
    max-height: inherit;
    max-width: inherit;
    overflow: scroll;
}

p {
    color: black;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}