.affix, .affix-top {
    width: inherit;
    position: fixed;
}

.col-xs-4, .col-sm-2 {
    padding: 0;
    height: inherit;
}

.nav {
    height: 100%;
}

.nav-pills > li > a {
    border-radius: 0px;
    padding: 27%;
    text-align: center;
}

