.affix, .affix-top {
/*    width: 100%;*/
/* stops width change on scroll but can't adjust width   position: fixed;*/
}

.col-xs-4, .col-sm-2 {
    padding: 0;
}

.nav-pills > li {

}
.nav-pills > li > a {
    text-align: center;
    border-radius: 0px;
}

